  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      margin: 0px !important;
  }

  * {
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
      letter-spacing: 1px;
      text-decoration: none !important;
  }

  .main-page {
      height: 100dvh;
      position: relative;
  }